/* .reveal .slides { text-align: initial; } */

.reveal .filename { font-size: 50%; /* line-height: 0ex; */ float: right }

/* .reveal h1 { font-family: sans-serif; } */
.reveal h1 { font-size: 3.77em; }
.reveal h2 { font-size: 2.11em; }
.reveal h3 { font-size: 1.55em; }
.reveal .level2 h1 { font-size: 2.11em; }
.reveal { line-height: initial; }

.reveal .heads_up { position: absolute; right: 0; top: 20ex; z-index: 10; }

.reveal pre code {
    color: #000000;

    // This messes up the background-color green that I use in some slides
    // background-color: white;
}

.reveal pre code {
    font-family: Menlo,monospace;
    font-size: 125%;
    line-height: initial;
}

.left_align > div {
    text-align: left;
}
.left_align ol, .left_align ul {
    display: initial; margin: initial;
}

/* div .center_align { text-align: center; } */

div.no_border img {
    box-shadow: initial;
    border: initial;
    background: initial;
}

div.logo img {
    width: 50%;
    height: auto;
}

div.screen_grab img {
    width: 50%;
    height: auto;
}

.reveal .slides>section,
.reveal .slides>section>section {
    padding: 0;
}

.no_center {
    min-height: initial !important;
}

.strike { text-decoration: line-through; color: #8f4040; }

section.center table, .centertable table {
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

kbd.key {
    padding: 0.04em 0.5em;
    border: 1px solid #CCC;
    background-color: #F7F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 2px #FFF inset;
    border-radius: 3px;
    text-shadow: 0px 1px 0px #FFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 75%;
}