.hasklig {
  font-family: 'Hasklig', monospace !important;
}

.firacode {
  font-family: 'FiraCode', monospace !important;
}

@font-face {
  font-family: 'FiraCode';
  src: url("fonts/FiraCode-Regular.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Hasklig';
  src: url("fonts/Hasklig-ExtraLight.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Hasklig';
  src: url("fonts/Hasklig-Light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Hasklig';
  src: url("fonts/Hasklig-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hasklig';
  src: url("fonts/Hasklig-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Hasklig';
  src: url("fonts/Hasklig-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Hasklig';
  src: url("fonts/Hasklig-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Hasklig';
  src: url("fonts/Hasklig-Black.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
